@import "../valo/valo.scss";

@mixin Point85 {
  @include valo;
  
   .dfFontTitle.v-label {
   font-size: 20px;
   border: red solid 1px;
  }

  /* An actual theme rule */
  .v-button {
    color: red;
  }
}
