<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Point85 OEE Operator</display-name>
  <servlet>
    <servlet-name>OEEOperationsServlet</servlet-name>
	<servlet-class>org.point85.ops.OperationsUI$OEEOperationsServlet</servlet-class>
    <init-param>
      <param-name>jdbcConn</param-name>
      <param-value>jdbc:sqlserver://localhost:1433;databaseName=OEE</param-value>
    </init-param>
    <init-param>
      <param-name>userName</param-name>
      <param-value>Point85</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>Point85</param-value>
    </init-param>
  </servlet>
</web-app>